/* General styles for all menus */
/* Based on http://tympanus.net/codrops/2013/04/17/slide-and-push-menus/ */
.cbp-spmenu {
  background: #47a3da;
  // background: #45a8f1;
  @include box-shadow(darken(#47a3da, 10%) -40px 0 60px 0 inset);
  position: fixed;
  overflow-x: scroll;
  z-index: 0;

  ul {
    padding: 1em;
  }

  // ul, h3, h4, p, form {
  //   margin: 0 20px;
  // }

  h3 {
    color: #fff;
    font-size: 1.9em;
    margin: 20px 40% 20px 20px;
    border-bottom: 1px solid #fff;
    padding: 0 0 5px;
    font-weight: 400;
  }

  h4 {
    color: #fff;
    margin: 20px 2.5%;
    font-weight: 400;
  }

  .half h4, .half form,
  .third h4, .third form {
    margin-left: 0;
    margin-right: 0;
  }

  button {
    border: 0;
    color: #fff;
    background: #288bc6;
    padding: 10px;
    @include border-radius(3px);
    @include transition(all 0.3s);

    &.team-toggle {
      position: absolute;
      right: 5.5%;
      margin-top: -38px;
    }

    &:hover {
      background: darken(#288bc6, 15%);
    }
  }

  a {
    display: block;
    color: #fff;
    font-size: 1.1em;
    font-weight: 300;

    &:hover {
      background: #258ecd;
    }

    &:active {
      background: #afdefa;
      color: #47a3da;
    }
  }
}

.cbp-spmenu-vertical {
  width: 60%;
  height: 100%;
  top: 0;
  z-index: 1000;

  a {
    border-bottom: 1px solid #258ecd;
    padding: 1em;
  }
}

.cbp-spmenu-left {
  left: -59%;

  &.cbp-spmenu-open {
    left: 0px;
  }
}

.cbp-spmenu-push {
  overflow-x: hidden;
  position: relative;
  left: 0;
}

#settings {
  z-index: 2;
}

#visualisation {
  position: relative;
  left: 0%;
  z-index: 1;
  @include transition(all 0.3s ease);
}

.cbp-spmenu-push-toright {
  left: 60%;
  overflow: hidden;

  #visualisation, #logo {
    left: -28%;
  }
}

.cbp-spmenu,
.cbp-spmenu-push {
  @include transition(all 0.3s ease);
}

@media screen and (max-width: 55.1860em){
}

@media screen and (max-height: 26.360em){

  // .cbp-spmenu-vertical {
  //   font-size: 60%;
  //   width: 160px;
  // }

  // .cbp-spmenu-left,
  // .cbp-spmenu-push-toleft {
  //   left: -160px;
  // }
}
