.modal {
  .modal-body {
    overflow: hidden;
  }

  .modal-content {
    @include border-radius(3px);
  }

  button {
    @include border-radius(3px);
    color: #fff;
    padding: 5px 10px;
    font-weight: 400;
    border: 0;
    float: right;
    position: relative;
    top: -60px;
  }
}
