@import "compass/css3/transition";
@import "compass/css3/box-shadow";
@import "compass/css3/border-radius";
// @import "normalize";
@import "popover";
@import "menu";
@import "angucomplete";
// @import "barChart";
@import "bulletChart";
@import "colorpicker";
@import "logos";
@import "modal";


@mixin rotate90() {
  -webkit-transform: rotate(-90deg);
     -moz-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
       -o-transform: rotate(-90deg);
          transform: rotate(-90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

body {
  background: url(../img/background.jpg) repeat;
  font-family: 'Droid Sans', sans-serif;
}

h1, h2, h3, h4 {
  font-family: 'Open Sans', sans-serif;
}

#logo {
  position: absolute;
  display: none;
  width: 98%; /* Logo is not centered at 100% (or is it the vis that's not ?) */
  height: 100%;
  top: 0;
  text-align: center;

  .outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;

    .middle {
      display: table-cell;
      vertical-align: middle;

      .content {
        text-align: center;
        // width will be set via JS

        img {
          -webkit-transform: rotate(-12deg);
             -moz-transform: rotate(-12deg);
              -ms-transform: rotate(-12deg);
               -o-transform: rotate(-12deg);
                  transform: rotate(-12deg);
        }
      }
    }
  }
}

#settings {
  position: absolute;
  top: 50px;
  left: -25px;
  color: #fff;
  padding: 10px 15px;
  font-weight: 400;
  font-size: 18px;

  &:hover {
    color: darken(#fff, 10%);
  }

  @include rotate90();

  border: 0;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.mtop {
  margin-top: 55px;
}

.radio {
  margin: 5px;
  line-height: 2.5em;

  label {
    text-transform: capitalize;
  }
}

#data-updated {
  color: #FFF;
  font-size: 1.1em;
  margin: 2.5%;
  text-align: right;
}

.full {
  width: 95%;
  margin: 0 2.5%;
  float: left;
}

.half {
  width: 45%;
  margin: 0 2.5%;
  float: left;
}

.third {
  width: 28.3%;
  margin: 0 2.5%;
  float: left;
}


@import "media-queries";
@import "colors";
