@import "compass/css3/transition";
@import "compass/css3/box-shadow";
@import "compass/css3/border-radius";
// @import "normalize";
@import "popover";
@import "menu";

@mixin rotate90() {
  -webkit-transform: rotate(-90deg);
     -moz-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
       -o-transform: rotate(-90deg);
          transform: rotate(-90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

body {
  background: url(../img/background.jpg) repeat;
  font-family: 'Droid Sans', sans-serif;
}

h1, h2, h3, h4 {
  font-family: 'Open Sans', sans-serif;
}

#settings {
  position: absolute;
  top: 50px;
  left: -25px;
  color: #fff;
  background-color: #288bc6;
  padding: 10px 15px;
  font-weight: 400;
  font-size: 18px;

  &:hover {
    color: darken(#fff, 10%);
  }

  @include rotate90();

  border: 0;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

angucomplete { display: block; }
.mtop {
  margin-top: 55px;
}

.radio {
  margin: 5px;
  line-height: 2.5em;

  label {
    text-transform: capitalize;
  }
}

.color-picker {
  margin-top: 1.75em;

  .color {
    width: 15px;
    height: 15px;
    padding: 8px;
    border: 1px solid #fff;

    &:hover {
      cursor: pointer;
    }
  }
}

.half {
  width: 45%;
  margin: 0 2.5%;
  float: left;
}

.third {
  width: 28.3%;
  margin: 0 2.5%;
  float: left;
}

/* Teams logo */
.logo {
  display: inline-block;
  margin: 10px;
  width: 84px;
  height: 56px;
  background-size: 84px 56px;
  opacity: 0.25;
  @include transition(all 0.3s);

  &:hover {
    cursor: pointer;
  }

  &.active {
    opacity: 1;
  }
}

.logo-ANA { background-image: url(../img/logos/ANA.svgz); }
.logo-BOS { background-image: url(../img/logos/BOS.svgz); }
.logo-BUF { background-image: url(../img/logos/BUF.svgz); }
.logo-CAR { background-image: url(../img/logos/CAR.svgz); }
.logo-CGY { background-image: url(../img/logos/CGY.svgz); }
.logo-CHI { background-image: url(../img/logos/CHI.svgz); }
.logo-CBJ { background-image: url(../img/logos/CBJ.svgz); }
.logo-COL { background-image: url(../img/logos/COL.svgz); }
.logo-DAL { background-image: url(../img/logos/DAL.svgz); }
.logo-DET { background-image: url(../img/logos/DET.svgz); }
.logo-EDM { background-image: url(../img/logos/EDM.svgz); }
.logo-FLA { background-image: url(../img/logos/FLA.svgz); }
.logo-LAK { background-image: url(../img/logos/LAK.svgz); }
.logo-MIN { background-image: url(../img/logos/MIN.svgz); }
.logo-MTL { background-image: url(../img/logos/MTL.svgz); }
.logo-NSH { background-image: url(../img/logos/NSH.svgz); }
.logo-NJD { background-image: url(../img/logos/NJD.svgz); }
.logo-NYI { background-image: url(../img/logos/NYI.svgz); }
.logo-NYR { background-image: url(../img/logos/NYR.svgz); }
.logo-OTT { background-image: url(../img/logos/OTT.svgz); }
.logo-PHI { background-image: url(../img/logos/PHI.svgz); }
.logo-PHX { background-image: url(../img/logos/PHX.svgz); }
.logo-PIT { background-image: url(../img/logos/PIT.svgz); }
.logo-SJS { background-image: url(../img/logos/SJS.svgz); }
.logo-STL { background-image: url(../img/logos/STL.svgz); }
.logo-TBL { background-image: url(../img/logos/TBL.svgz); }
.logo-TOR { background-image: url(../img/logos/TOR.svgz); }
.logo-VAN { background-image: url(../img/logos/VAN.svgz); }
.logo-WSH { background-image: url(../img/logos/WSH.svgz); }
.logo-WPG { background-image: url(../img/logos/WPG.svgz); }
