<div ng-controller="PullNavCtrl">
  <nav ng-class="{'cbp-spmenu-open': displayMenu}" class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="menu">
      <h3>Settings</h3>

      <div class="third">
        <h4>Layout Type</h4>
        <layouts></layouts>
      </div>

      <div class="third">
        <h4>Position</h4>
        <positions></positions>
      </div>

      <div class="third full-mq1">
        <h4>Base Color</h4>
        <ng-color-picker></ng-color-picker>
      </div>
      <div class="clearfix">&nbsp;</div>

      <h4>Metrics</h4>
      <metrics></metrics>
      <div class="clearfix">&nbsp;</div>

      <div class="half">
        <h4>Division</h4>
        <divisions></divisions>
      </div>

      <div class="half">
        <h4>Search Players</h4>
        <autocomplete-players></autocomplete-players>
      </div>
      <div class="clearfix mtop">&nbsp;</div>

      <h4>Which teams would you like to compare ?</h4>
      <team-list></team-list>

      <h4>Questions ? Suggestions ?</h4>
      <contact-form></contact-form>
  </nav>
</div>
